<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Temp2Website-3799c637-473d-49da-bfa7-a01dc731ebe4;AttachDbFilename=|DataDirectory|\aspnet-Temp2Website-3799c637-473d-49da-bfa7-a01dc731ebe4.mdf;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  <add name="EatIn" 
       connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI"
       providerName="System.Data.SQLClient" />
</connectionStrings>